{{#each items}}
<header class="message-header flexrow">
    <span class="flavor-text">{{this.flavor}}</span>
</header>
    <div class="dice-roll">
        <div class="dice-formula">{{this.formula}}</div>
        {{#each this.rolls}}
        <div class="dice-result">
            {{{this.tooltip}}}
            <h4 class="dice-total {{this.highlight}}">{{this.total}}</h4>
        </div>
        {{/each}}
    </div>
{{/each}}
{{#if totalDamage}}
<div class="dice-roll">
    <div class="dice-result">
        <br>
        <h4 class="dice-total totalMA5e">{{ localize "MA5e.chat.total" }}: {{totalDamage}}</h4>
    </div>
</div>
{{/if}}