<style>
        #multiattack-tool-dialog .dialog-buttons {
                flex-direction: column;
        }
</style>

<div class="flexcol">
        {{#each weapons}}
        <div class="MA5e-multiattack" id="{{this.name}}">
                <label for="{{this.id}}"><img class="imgMA5e" src="{{this.img}}"></label>
                <label for="{{this.id}}" class="labelMA5e">{{this.data.name}}</label>
                <input type="number" class="inputMA5e" id="{{this.id}}input" placeholder="1" value="{{this.count}}">
                <input type="checkbox" class="dialog-checkbox" id="{{this.id}}checkbox" {{#if this.checked}}checked{{/if}}>
        </div>
        {{/each}}
        <br>
        <div class="MA5e-multiattack-flex">
                <button class="buttonMA5e" id="setDefaultButton">{{ localize "multiattack-5e.tool.dialog.setDefault" }}</button>
                <button class="buttonMA5e" id="clearDefaultButton">{{ localize "multiattack-5e.tool.dialog.clearDefault" }}</button>
        </div>
        <br>
</div>

<script src="/modules/multiattack-5e/scripts/toolDefault.js"></script>